body {
    background-image: url("../public/images/canva-photo-editor.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: antiquewhite;
    font-family:  sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

html,body {
    height:100%;
    border: 0;
    padding: 0;
    margin: 0;
   }

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

th {
    text-align: left;
}

th, td {
    padding: 5px 5px 0px 5px;
    border: 1px solid black;
  }

  table {
    white-space: nowrap;
    table-layout: auto;
    border: 1px solid black;
    margin: auto;
    border-spacing: 0;
  }

#form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2px;
    margin: 2px;
    border: 2px;
    justify-content: center;

  }

  #form-wrapper2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2px;
    margin: 2px;
    border: 2px;
    justify-content: center;
  }

  .button {
      margin: 5px;
  }

  label {
      border: 2px;
      margin: 3px;
  }